# Lección 17 - Dummies

El objetivo es llevar variables de texto a valores númericos

In [1]:
import pandas as pd
import numpy as np

## Variables Discretas

In [2]:
movies = pd.read_csv("../data/series-movies.csv")

In [3]:
movies.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [4]:
movies = movies.loc[:,["Series_Title","Released_Year","Genre"]]
movies

                 Series_Title Released_Year                     Genre
0    The Shawshank Redemption          1994                     Drama
1               The Godfather          1972              Crime, Drama
2             The Dark Knight          2008      Action, Crime, Drama
3      The Godfather: Part II          1974              Crime, Drama
4                12 Angry Men          1957              Crime, Drama
..                        ...           ...                       ...
995    Breakfast at Tiffany's          1961    Comedy, Drama, Romance
996                     Giant          1956            Drama, Western
997     From Here to Eternity          1953       Drama, Romance, War
998                  Lifeboat          1944                Drama, War
999              The 39 Steps          1935  Crime, Mystery, Thriller

[1000 rows x 3 columns]

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Genre          1000 non-null   object
dtypes: object(3)
memory usage: 23.6+ KB

In [6]:
dummies = movies["Genre"].str.get_dummies(", ")
dummies

,Action,Adventure,Animation,Biography,Comedy,Crime,Drama,Family,Fantasy,Film-Noir,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
996,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
997,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
998,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
999,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0

In [7]:
dummies.iloc[:10,:6]

   Action  Adventure  Animation  Biography  Comedy  Crime
0       0          0          0          0       0      0
1       0          0          0          0       0      1
2       1          0          0          0       0      1
3       0          0          0          0       0      1
4       0          0          0          0       0      1
5       1          1          0          0       0      0
6       0          0          0          0       0      1
7       0          0          0          1       0      0
8       1          1          0          0       0      0
9       0          0          0          0       0      0

In [8]:
movies_windic = movies.join(dummies.add_prefix("Genero_"))
movies_windic

,Series_Title,Released_Year,Genre,Genero_Action,Genero_Adventure,Genero_Animation,Genero_Biography,Genero_Comedy,Genero_Crime,Genero_Drama,...,Genero_Horror,Genero_Music,Genero_Musical,Genero_Mystery,Genero_Romance,Genero_Sci-Fi,Genero_Sport,Genero_Thriller,Genero_War,Genero_Western
0,The Shawshank Redemption,1994,Drama,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,The Godfather,1972,"Crime, Drama",0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,The Dark Knight,2008,"Action, Crime, Drama",1,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,The Godfather: Part II,1974,"Crime, Drama",0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,12 Angry Men,1957,"Crime, Drama",0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,"Comedy, Drama, Romance",0,0,0,0,1,0,1,...,0,0,0,0,1,0,0,0,0,0
996,Giant,1956,"Drama, Western",0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
997,From Here to Eternity,1953,"Drama, Romance, War",0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
998,Lifeboat,1944,"Drama, War",0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
999,The 39 Steps,1935,"Crime, Mystery, Thriller",0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0

In [9]:
movies_windic.iloc[782]

Series_Title                 Man on Fire
Released_Year                       2004
Genre               Action, Crime, Drama
Genero_Action                          1
Genero_Adventure                       0
Genero_Animation                       0
Genero_Biography                       0
Genero_Comedy                          0
Genero_Crime                           1
Genero_Drama                           1
Genero_Family                          0
Genero_Fantasy                         0
Genero_Film-Noir                       0
Genero_History                         0
Genero_Horror                          0
Genero_Music                           0
Genero_Musical                         0
Genero_Mystery                         0
Genero_Romance                         0
Genero_Sci-Fi                          0
Genero_Sport                           0
Genero_Thriller                        0
Genero_War                             0
Genero_Western                         0
Name: 782, dtype: object

## Variables Continuas

In [10]:
np.random.seed(12345)

In [11]:
values = np.random.uniform(size=10)
values

array([0.92961609, 0.31637555, 0.18391881, 0.20456028, 0.56772503,
       0.5955447 , 0.96451452, 0.6531771 , 0.74890664, 0.65356987])

In [12]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]

In [13]:
x = pd.get_dummies(pd.cut(values,bins))
x

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

In [14]:
x = x.astype("uint8")
x

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

In [15]:
z = pd.get_dummies(values)
z

,0.183919,0.204560,0.316376,0.567725,0.595545,0.653177,0.653570,0.748907,0.929616,0.964515
0,0,0,0,0,0,0,0,0,1,0
1,0,0,1,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0
5,0,0,0,0,1,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,1
7,0,0,0,0,0,1,0,0,0,0
8,0,0,0,0,0,0,0,1,0,0
9,0,0,0,0,0,0,1,0,0,0